<%= form_with model: movie do |form| %>
  <% if movie.errors.any? %>
    <ul>
      <% movie.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :blurb %>
    <%= form.text_field :blurb %>
  </div>

  <div>
    <%= form.label :date_released %>
    <%= form.date_select :date_released %>
  </div>

  <div>
    <%= form.label :country_origin %>
    <%= form.text_field :country_origin %>
  </div>

  <div>
    <%= form.label :showing_start %>
    <%= form.date_select :showing_start %>
  </div>

  <div>
    <%= form.label :showing_end %>
    <%= form.date_select :showing_end %>
  </div>

  <div>
    <%= form.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  </div>

  <%= form.submit %>
<% end %>